<div class="flex items-center gap-3">
  <a
    href="#"
    class="text-[#3b5998] hover:text-[#2d4373] transition-colors
  bg-white/90 hover:bg-white p-1.5 rounded-full"
    aria-label="Facebook"
  >
    <!-- <Facebook class="h-4 w-4" /> -->
  </a>
  <a
    href="#"
    class="text-[#1da1f2] hover:text-[#0c85d0] transition-colors bg-white/90
hover:bg-white p-1.5 rounded-full"
    aria-label="Twitter"
  >
    <!-- <Twitter class="h-4 w-4" /> -->

    <a
      href="#"
      class="text-[#e1306c] hover:text-[#c13584] transition-colors
bg-white/90 hover:bg-white p-1.5 rounded-full"
      aria-label="Instagram"
    >
      <!-- <Instagram class="h-4 w-4" /> -->

      <a
        href="#"
        class="text-[#ff0000] hover:text-[#cc0000] transition-colors
bg-white/90 hover:bg-white p-1.5 rounded-full"
        aria-label="YouTube"
      >
        <!-- <Youtube class="h-4 w-4" /> -->
      </a></a
    ></a>
</div>
